.cards-container {
  position: relative;
  z-index: 50;
  margin-top: 7rem;
  padding-bottom: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 37rem;
  min-height: 24rem;
  background-color: #fff;
  border-radius: 0.4rem;
  position: relative;
  margin-bottom: 3rem;
}

.card:last-of-type {
  margin-bottom: 0;
}

.card * {
  color: #000;
}

.card-image {
  position: absolute;
  top: 0;
  bottom: auto;
  left: 50%;
  right: 0;
  transform: translateX(-50%);
  width: 10rem;
}

.card-text-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: auto;
  bottom: 0;
  padding: 0 3.2rem 3.2rem;
}

.card-title {
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 1.6rem;
}

.card-tagline {
  margin-top: 0;
  margin-bottom: 2.4rem;
  font-size: 1.44rem;
}

.cta-text {
  color: #F65928;
  font-size: 1.44rem;
  font-weight: 500;
}

.caret-right {
  color: #F65928;
  margin-left: 0.8rem;
}

@media screen and (min-width: 40em) {
  .cards-container {
    margin-top: 9rem;
    padding-bottom: 9rem;
  }

  .card-image {
    width: 14rem;
  }
}

@media screen and (min-width: 64em) {
  .cards-container {
    margin-top: 11.2rem;
    padding-bottom: 15rem;
    flex-direction: row;
  }

  .card {
    margin-right: 3rem;
    margin-bottom: 0;
  }

  .card:last-of-type {
    margin-right: 0;
  }

  .card-image {
    width: 18.8rem;
    top: -7.33rem;
    left: auto;
    right: -2.75rem;
    transform: translateX(0px);
  }

  .learn-more:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: auto;
    bottom: -0.5rem;
    left: 0;
    right: auto;
    width: 9.6rem;
    height: 0.3rem;
    background-color: #F65928;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s linear;
  }

  .learn-more:hover:before {
    transform: scaleX(1.0);
    transform-origin: left;
  }
}

@media screen and (min-width: 80em) {
  .card {
    width: 27rem;
  }
}

@media screen and (min-width: 100em) {
  .card {
    width: 35rem;
  }
}

@media screen and (min-width: 106.25em) {
  .card {
    width: 37rem;
  }
}
