.cards-container {
  position: relative;
  z-index: 50;
  margin-top: 7rem;
  padding-bottom: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 85%;
  min-height: 24rem;
  background-color: #fff;
  border-radius: 0.4rem;
  position: relative;
  margin-bottom: 3rem;
  text-align: center;
}

.card:last-of-type {
  margin-bottom: 0;
}

.card * {
  color: #000;
}

.card-image {
  width: 33.33%
}

.card-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 3.2rem 3.2rem;
}

.card-title {
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 1.6rem;
}

.card-tagline {
  margin-top: 0;
  margin-bottom: 2.4rem;
  font-size: 1.44rem;
  text-align: left;
}

.cta-text {
  color: #F65928;
  font-size: 1.44rem;
  font-weight: 500;
}

.caret-right {
  color: #F65928;
  margin-left: 0.8rem;
}

@media screen and (min-width: 40em) {
  .cards-container {
    margin-top: 9rem;
    padding-bottom: 9rem;
  }

  .card {
    width: 45rem;
  }

  .card-image {
    width: 14rem;
  }
}

@media screen and (min-width: 64em) {
  .cards-container {
    margin-top: 11.2rem;
    padding-bottom: 15rem;
    flex-direction: row;
  }

  .card-image {
    position: absolute;
    top: -5.75rem;
    bottom: auto;
    left: auto;
    right: -2.75rem;
  }

  .card-text-container {
    position: absolute;
    top: auto;
    bottom: 0;
  }

  .card {
    width: 27rem;
    margin-right: 3rem;
    margin-bottom: 0;
    text-align: left;
  }

  .card:nth-child(2) img {
    right: -1.75rem;
  }

  .card:last-of-type {
    margin-right: 0;
  }

  .card:last-of-type img {
    right: -5rem;
  }

  .learn-more:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: auto;
    bottom: -0.5rem;
    left: 0;
    right: auto;
    width: 9.6rem;
    height: 0.3rem;
    background-color: #F65928;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s linear;
  }

  .learn-more:hover:before {
    transform: scaleX(1.0);
    transform-origin: left;
  }
}

@media screen and (min-width: 100em) {
  .card {
    width: 37rem;
  }

  .card-image {
    width: 20rem;
    top: -7.8rem;
  }

  .card:nth-child(2) img {
    top: -7.5rem;
    right: -2.6rem;
  }

  .card:last-of-type img {
    width: 24rem;
    top: -7.5rem;
    right: -9rem;
  }
}
